table{
    width: 100%;

    background: #fefefe;
    border-radius: 1.2rem;
    box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 5%);

    overflow: hidden;
    border-collapse: collapse;
}

thead th{
    padding: 1.2rem;

    font-weight: 600;
    text-align: left;

    background: #f3f4f6;
    border-bottom: 0.2rem solid var(--accent);
}

tbody td{
    padding: 1.2rem;

    border-bottom: 0.1rem solid #e5e7eb;
}
